imutils==0.5.4
fastapi==0.115.8
uvicorn==0.34.0
tritonclient==2.54.0
ultralytics==8.3.75
torch==2.6.0
torchvision==0.21.0
opencv-python==4.11.0.86
numpy==1.26.4
pandas==2.2.3
pillow==11.1.0
onnx==1.17.0
onnxruntime==1.20.1
onnxslim==0.1.48
pydantic==2.10.6
python-multipart==0.0.20
requests==2.32.3
tqdm==4.67.1
pydantic==2.10.6
pydantic_core==2.27.2
setuptools==75.8.0
ultralytics-thop==2.0.14
uvicorn==0.34.0
yarl==1.18.3
zope.event==5.0
zope.interface==7.2
     
